.tags{
    border: 2px solid black;
    line-height: 50px;
    margin: 20px;
    padding: 20px;
}
.tag{
    padding: 10px;
    margin: 10px;
}
.table{
    border: 2px solid black;
    width: 100%;
}



:hover.box{
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.body{
    background-color: pink;
}

#image{
    display: grid;
    grid-template-columns: 35% 35% 35%;
    grid-template-rows: 32%;
    grid-gap: 10px;
}
.img{
    width: 100%;
}
#img5{
    grid-row: 2;
    grid-column: 3;
}